//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  vertical-align: middle;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 1px;
  text-align: center;
  width: 16px;
  transition: transform .15s linear;

  &:before { content: "\e114"; }
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 0; //100%;
  left: 0;
  z-index: @zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;

  padding: @padding-base-vertical;
  margin: 0; // override default ul
  list-style: none;
  font-size: @font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: @dropdown-bg;
  // border: 1px solid @dropdown-fallback-border; // IE8 fallback
  border: 0px solid @dropdown-border;
  border-radius: @border-radius-base;
  .box-shadow(0px 20px 66px 0px rgba(34,48,73,.2));
  background-clip: padding-box;

  // Bit of a hack for our calculators to make the two controls the same width.
  min-width: 104px;
  @media (min-width: @screen-sm-min) {
    min-width: 160px;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    .nav-divider(@dropdown-divider-bg);
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: @dropdown-link-padding;
    clear: both;
    font-weight: normal;
    border-radius: @border-radius-base;
    line-height: @line-height-base;
    color: @dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

    .glyphicon {
      top: 2px;
    }

    .secondary {
      display: block;
      white-space: normal;
    }
  }
  > li:first-child > a {
    .border-top-radius((@border-radius-base - 1px))
  }
  > li:last-child > a {
    .border-bottom-radius((@border-radius-base - 1px))
  }
}

.dropdown-menu,
.btn-group .dropdown-menu  {
  max-width: ~"calc(100vw - 32px)";
  &.dropdown-menu-sm {
    width: 220px;
  }
  &.dropdown-menu-md {
    width: 300px;
  }
  &.dropdown-menu-lg {
    width: 420px;
  }
}

// Hover/Focus/Active state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: @dropdown-link-hover-color;
    background-color: @dropdown-link-hover-bg;
    outline: 0;
  }
  &:active {
    color: @dropdown-link-active-color;
    background-color: @dropdown-link-active-bg;
  }
}

// Active state
.dropdown-menu > .active > a,
.dropdown-menu > .selected > a {
  &,
  &:hover,
  &:focus {
    color: @dropdown-link-active-color;
    text-decoration: none;
    outline: 0;
    background-color: @dropdown-link-active-bg;
  }

  strong {
    color: inherit;
  }
  .small,
  .secondary {
    color: @brand-smoke-minus-10;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus,
  .small,
  .secondary {
    color: @dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    .reset-filter();
    cursor: @cursor-disabled;
  }

  .circle img,
  .currency-flag {
    opacity: 0.5;
  }
  .circle,
  .icon {
    color: @dropdown-link-disabled-color;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
    animation: showDropdown 0.2s cubic-bezier( 0.6, 0.2, 0.1, 1 ) both;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

@keyframes showDropdown {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95,0.95);
  }
  to {
    opacity: 1;
    transform:none;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right,
.dropdown-menu-xs-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left,
.dropdown-menu-xs-left {
  left: 0;
  right: auto;
}

@media (min-width: @screen-sm-min) {
  .dropdown-menu-sm-right {
    left: auto;
    right: 0;
  }
  .dropdown-menu-sm-left {
    left: 0;
    right: auto;
  }
}
@media (min-width: @screen-md-min) {
  .dropdown-menu-md-right {
    left: auto;
    right: 0;
  }
  .dropdown-menu-md-left {
    left: 0;
    right: auto;
  }
}
@media (min-width: @screen-lg-min) {
  .dropdown-menu-lg-right {
    left: auto;
    right: 0;
  }
  .dropdown-menu-lg-left {
    left: 0;
    right: auto;
  }
}
@media (min-width: @screen-xl-min) {
  .dropdown-menu-xl-right {
    left: auto; // Reset the default from `.dropdown-menu`
    right: 0;
  }
  .dropdown-menu-xl-left {
    left: 0;
    right: auto;
  }
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 8px 16px 8px;
  font-size: @font-size-small;
  line-height: @line-height-computed;
  color: @dropdown-header-color;
  white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: (@zindex-dropdown - 10);
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?

.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    //border-top: 0;
    // border-bottom: @caret-width-base solid;
    // content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: -2px; // 100%;
    margin-bottom: 2px;
  }
}


// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

@media (min-width: @grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      .dropdown-menu-right();
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      .dropdown-menu-left();
    }
  }
}

.bootstrap-select .dropdown-menu {
    margin: -8px 0 -6px 0;
}
